version: "3.6"

services:

  gitlab:
    image: {{ gitlab_image }}
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '{{ gitlab_external_url }}'
    volumes:
{% for volume in gitlab_volumes %}
      - {{ volume }}
{% endfor %}
    deploy:
      labels:
{% for label in gitlab_labels %}
        - {{ label }}
{% endfor %}
    networks:
      - {{ traefik_stack_name }}_{{ traefik_network }}

networks:
  {{ traefik_stack_name }}_{{ traefik_network }}:
    external: true